Repository jorgednts/task_app, changes with the labels that .github/labeler.yml gives for each.
All labels: core, design_system, internationalization, CI/CD, docs

.github/labeler.yml:

core:
  - any: [ 'core/lib/**/*' ]

design_system:
  - any: [ 'design_system/lib/**/*' ]

easy_task_app:
  - -any: [ 'easy_task_app/lib/**/*' ]

internationalization:
  - any: [ 'internationalization/lib/**/*' ]

CI/CD:
  - any: [ '.github/workflows/**/*' ]

docs:
  - any: [ '- README.md' ]

chore: update labeler workflow trigger
  .github/workflows/labeler_workflow.yml
Labels: CI/CD

ci: add auto-assigner workflow for pull requests
  .github/workflows/autoassigner_workflow.yml
Labels: CI/CD

feat: add GitHub Actions workflow to build APK
  .github/workflows/build_apk_workflow.yml
Labels: CI/CD

refactor: use final for local variables in messages_all.dart
  internationalization/lib/src/generated/intl/messages_all.dart
Labels: internationalization

ci: add melos installation to build apk workflow
  .github/workflows/build_apk_workflow.yml
Labels: CI/CD

ci: add melos installation to build apk workflow
  .github/workflows/build_apk_workflow.yml
Labels: CI/CD

ci: fix build apk workflow path
  .github/workflows/build_apk_workflow.yml
Labels: CI/CD

fix(ci): correct APK path in build workflow
  .github/workflows/build_apk_workflow.yml
Labels: CI/CD

ci: update APK build workflow
  .github/workflows/build_apk_workflow.yml
Labels: CI/CD

feat: improve UI for empty and error states
  design_system/lib/src/components/cards/custom_message_card.dart
  design_system/lib/src/components/components.dart
  easy_task_app/lib/presentation/bloc/auth/auth_bloc.dart
  easy_task_app/lib/presentation/bloc/categories/categories_bloc.dart
  easy_task_app/lib/presentation/bloc/tasks/tasks_bloc.dart
  easy_task_app/lib/presentation/bloc/tasks/tasks_state.dart
  easy_task_app/lib/presentation/ui/auth/auth_page.dart
  easy_task_app/lib/presentation/ui/categories/categories_page.dart
  easy_task_app/lib/presentation/ui/common/common_app_bar.dart
  easy_task_app/lib/presentation/ui/tasks/tasks_page.dart
  easy_task_app/lib/presentation/ui/tasks/widgets/task_grid_view.dart
  easy_task_app/lib/presentation/ui/tasks/widgets/tasks_list_result.dart
  easy_task_app/lib/presentation/ui/tasks/widgets/tasks_top_menu.dart
  internationalization/lib/src/generated/intl/messages_en.dart
  internationalization/lib/src/generated/intl/messages_pt_BR.dart
  internationalization/lib/src/generated/l10n.dart
  internationalization/lib/src/l10n/intl_en.arb
  internationalization/lib/src/l10n/intl_pt_BR.arb
Labels: design_system, internationalization

style: enhance SnackBar appearance in ScaffoldMessengerHandler
  design_system/lib/src/components/scaffold_messenger/scaffold_messenger_handler.dart
Labels: design_system

docs: update project README
  core/melos_core.iml
  design_system/melos_design_system.iml
  easy_task_app/README.md
  easy_task_app/pubspec_overrides.yaml
  internationalization/melos_internationalization.iml
  melos.yaml
  melos_easy_task_app.iml
Labels: none

docs: add comprehensive README for Easy Task App
  README.md
Labels: none

docs: update README files for core, design_system, internationalization, and easy_task_app
  core/README.md
  design_system/README.md
  easy_task_app/README.md
  internationalization/README.md
Labels: none

fix: remove unused import in EasyTaskModel
  easy_task_app/lib/domain/model/tasks/easy_task_model.dart
Labels: none

fix: remove unused import in EasyTaskModel
  easy_task_app/lib/domain/model/tasks/easy_task_model.dart
Labels: none

ci: migrate Dart test workflow to Flutter
  .github/workflows/run_test_workflow.yml
Labels: CI/CD

ci: install melos in run_test_workflow
  .github/workflows/run_test_workflow.yml
Labels: CI/CD

ci: update test workflow to use melos for dependency installation
  .github/workflows/run_test_workflow.yml
Labels: CI/CD

ci: provide Supabase credentials during dependency installation
  .github/workflows/run_test_workflow.yml
Labels: CI/CD

feat: add `updatedAt` to `EasyTaskModel` and include it in query parameters
  easy_task_app/lib/domain/model/tasks/easy_task_model.dart
Labels: none

refactor: organize exports and remove unused comment
  .github/workflows/labeler_workflow.yml
  core/lib/core.dart
  design_system/lib/design_system.dart
  easy_task_app/lib/main.dart
  internationalization/lib/internationalization.dart
Labels: core, design_system, internationalization, CI/CD
